@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gold {
  background-color: #e6a33ed5;
}

.bg-navbar {
  background: rgb(241, 209, 209);
  background: radial-gradient(
    circle,
    rgba(241, 209, 209, 1) 0%,
    rgba(238, 51, 51, 1) 97%
  );
}

body {
  color: black;
  background-color: white;
}

/* .slider-text {
  position: relative;
  color: transparent;
  background-image: url("/slider-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
} */
