@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gold {
  background-color: #d892289d;
}

body {
  color: black;
}

/* .slider-text {
  position: relative;
  color: transparent;
  background-image: url("/slider-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
} */
